<div class ="content-block" id ="divider">
    <div id="footer">
        <div id="NSF">
    <img src="assets/images/NSF.png">
        
    <p>Funding for this event is made possible by the National Science Foundation</p>
        </div>

    <p> Follow us on <a href="">Instagram</a> and <a href="">LinkedIN</a>. Watch our livestream on <a href="">YouTube</a> </p>

    <p> Contact us at healthware@oshwa.org</p>

    <p> Our conde of conduct is located <a href="https://docs.google.com/document/d/12wtwOOGZYIESvwqmiu--MAyJvUclai20hT15OkRnJZc/edit?tab=t.0">here</a><p></p>
    </div>
</div>

</div>

</body>
</html>