<html> 
    <head>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <div class="site-header">
            <nav>            
                <ul>
                    <li><img src="/assets/images/opnehlathware.png"</li>
                    <li> <a href="#Attend">Attend</a></li>
                    <li> <a href="#Call for Proposals"> Call For Propsals</a></li>
                    <li> <a href="#About"> About</a></li>
                    <li> <a href="#contact"> Contact</a></li>
                </ul>

            </nav>
            <div id = "tagline">Join us at the Open Healthware Conference, August 1 & 2, 2025 in New York City </div>
        </div>
        <div class="wrapper">
 


